<IfModule mod_rewrite.c>
    RewriteEngine On

    # Determine the RewriteBase
    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    # If the requested filename exists, simply serve it
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]

    # If the requested URI does not exist, reroute it to index.php
    RewriteRule .? %{ENV:BASE}/index.php [L]
</IfModule>